.cp-404-title {
  font-size: 2rem;
  font-family: $font_roboto;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  line-height: 1.4;
}
.cp-errors{
  text-align: center;
}
.error-image {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/assets/starryNight.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
}