.cp-grid-wrapper {
    @include desktop {
        display: none;
    }
}

.footage iframe {
    @include desktop {
        width: 70rem;
        height: 35rem;
    }
}

iframe {
    overflow: hidden;
}

.bd-section-8 p {
    padding-top: 1rem;
}