.contact-us-section-1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    .cp-marketing-title {
        font-size: 2.8rem;
        font-weight: 100;
        font-family: $font_roboto;
        color: $color__text-main;
        padding: 10rem 5rem 0;
        text-align: center;
        margin: 0;
    }
}

.cp-title {
    font-size: 24px;
    font-family: $font_roboto;
    font-weight: 200;
    padding-bottom: 6%;
    padding-top: 6%;
    letter-spacing: .1rem
}

.info {
    font-family: $font_roboto;
    font-weight: 200;
    @include desktop {
        display: none;
    }
    p {
        &:nth-child(n+2) {
            padding-bottom: 5px;
        }
    }
}

.cp-contact-form {
    font-family: $font_roboto;
    font-weight: 200;
    letter-spacing: .1rem;
}

.cp-purple-section.section-above-footer {
    padding: 0;
}