.contact-us-background {
  background-size: cover cover;
  height: 100vh;
  position: relative;
  width: 100vw;
}

.registration {
  background-color: $color_background_4;
  height: 100vh;
}

.contact-us-title {
  color: $color__text-main;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  line-height: 41px;
}