.home {

    .fp-scroller {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }

    .home_section_1 {
        padding-top: 20vh;

        .brand-logo {
            width: 75px;
            height: 75px;
        }

        .brand-title {
            font-size: 2.5rem;
            width: 265px;
            text-align: center;
            margin-bottom: 10vh;
        }

        .horizontal-line {
            width: 85%;
            border-bottom: 1px solid #fff;
            margin-bottom: 10vh;
        }

        .brand-slogan {
            font-size: 1.5rem;
            margin-bottom: 25vh;
        }

    }

    .home_section_2 {
        padding-top: 10vh;
        background-color: $color_background_2;

        .title {
            font-size: 2.5rem;
            width: 200px;
            text-align: center;
            margin-bottom: 10vh;
        }

        .horizontal-line {
            width: 85%;
            border-bottom: 1px solid #fff;
            margin-bottom: $base__space-unit;
        }

        .copy {
            width: 85%;
            padding: 0 1.5rem;
            text-align: center;
            font-size: 1.4rem;
        }
    }

    .home_section_3 {
        background-color: $color_background_3;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15vh;
        width: 100vw;

        .quote{
            font-size: 3rem;
            text-align: left;
            padding-bottom: 2rem;
            width: 70%;

            .quote-text{
                padding-left: 2rem;
            }

            &:before {
                padding-left: -2rem;
                font-family: FontAwesome;
                font-weight: normal;
                font-style: normal;
                display: block;
                text-decoration: inherit;
                text-align: left;
                content:"\f10d";
            }

            &:after {
                font-family: FontAwesome;
                font-weight: normal;
                font-style: normal;
                display: block;
                text-decoration: inherit;
                text-align: right;
                content:"\f10e";
            }
        }

        .author{
            width: 70%;
            text-align: right; 
        }
    }

    .home_section_4 {

        .stat-container{
            display: flex;
            flex-wrap: wrap;

            .image-wrapper {
                width: 50%;
                padding-bottom: 50%;
                height: 0;

                img {
                    height: auto;
                    width: 100%;
                }
            }



            .stat-text-wrapper {
                width: 50%;
            }
        }
    }
}