.home {

    .home_section_1 {

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 20vh;

        .fp-scrollable {
            width: 100%;
        }

        .fp-scroller {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100vw;
        }
        .brand-logo {
            width: 75px;
            height: 75px;
        }

        .brand-title {
            font-size: 2.5rem;
            width: 265px;
            text-align: center;
            margin-bottom: 10vh;
            color: #fff;
        }

        .horizontal-line {
            width: 85%;
            border-bottom: 1px solid #fff;
            margin-bottom: 10vh;
        }

        .brand-slogan {
            font-size: 1.5rem;
            color: #fff;
            margin-bottom: 25vh;
        }

    }

    .home_section_2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 10vh;
        background-color: $color_background_2;

        .title {
            font-size: 2.5rem;
            width: 200px;
            text-align: center;
            margin-bottom: 10vh;
            color: #fff;
        }

        .horizontal-line {
            width: 85%;
            border-bottom: 1px solid #fff;
            margin-bottom: $base__space-unit;
        }

        .copy {
            width: 85%;
            padding: 0 1.5rem;
            color: white;
            text-align: center;
            font-size: 1.4rem;
        }

    }
}