.home {
    .home-section-4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }

    #fp-nav {
        display: block;

        ul {
            height: 130px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}