body {
    background-color: black;
}

.fp-scroller {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.cp-button-link {
    width: 80%;
    height: 5rem;
    background-color: $color_buttons;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 1.1px;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: $base__space-unit;
    text-decoration: none;
    margin: 10%;
    &:hover,
    &focus {}
}

.cp-learn-about-link {
    width: 280px;
    color: #fff;
    font-size: .9rem;
    font-weight: 100;
    letter-spacing: 2.5px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: $base__space-unit;
    text-decoration: none;
    a {
        margin-right: 1rem;
        &:hover,
        &focus {}
    }
}

.fa-caret-right {
    position: absolute;
    top: 90%;
    left: 69%;
    font-size: 1.2rem;
}

.cp-horizontal-line {
    width: 85%;
    border-bottom: 3px solid #fff;
    margin: 5%;
    text-align: center;
}

// body needed to increase style weight and override font-awesome's default font-size
body {
    .cp-angle-down {
        font-size: 2.5rem;
        color: #fff;
        padding: 25% 50%;
    }
}

// Contact form 7
.wpcf7-select {
    background: 0;
    width: 284px;
    height: 62px;
    border-radius: 0;
}

.wpcf7-form {
    input[type=name],
    input[type=email],
    input[type=text],
    {
        border-radius: 0;
        padding: 6px;
        width: 285px;
        height: 57px;
        background: 0 0;
    }
}

textarea {
    background: 0;
    width: 284px;
    height: 180px;
    border-radius: 0;
}