.cp-marketing-section {
        padding-top: 10vh;
        background-color: $color_background_2;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;

    .cp-marketing-title {
        font-size: 2.5rem;
        width: 200px;
        text-align: center;
        margin-bottom: 10vh;
    }

    .cp-marketing-copy {
        width: 85%;
        padding: 0 1.5rem;
        text-align: center;
        font-size: 1.4rem;
    }
}

.cp-quote-section {
        background-color: $color_background_3;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15vh;
        width: 100vw;

        .cp-quote-wrapper{
            font-size: 3rem;
            text-align: left;
            padding-bottom: 2rem;
            width: 70%;

            .cp-quote-text{
                padding-left: 2rem;
            }

            &:before {
                padding-left: -2rem;
                font-family: FontAwesome;
                display: block;
                text-align: left;
                content:"\f10d";
            }

        &:after {
            font-family: FontAwesome;
            display: block;
            text-align: right;
            content:"\f10e";
        }
    }

    .cp-quote-author{
        width: 70%;
        text-align: right; 
    }
}

.cp-checkered-section {
    .cp-checkered-container{
        display: flex;
        width: 100%;

        .cp-checkered-image-wrapper {
            width: 50%;
            padding-bottom: 50%;
            height: 0;
        }

        .cp-checkered-text-wrapper {
            width: 50%;
            background-color: $color_background_2;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0 1.5rem;

            .cp-checkered-value {
                font-size: 2.5rem;

                &:after {
                    width: 2rem;
                    border-bottom: 1px solid #fff;
                    content:"";
                    display: block;
                    margin: .5rem auto;
                    
                }
            }
            .cp-checkered-description {
                font-size:1.3rem;
                text-align: center;
                margin: 0;
            }

        }

        &:nth-child(2n){
            .cp-checkered-text-wrapper {
                background-color: $color_background_3;
                order: -1;
            }
        }
    }
}

.cp-description-section {
        background-color: $color_background_4;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5vh;
        width: 100vw;

        .cp-description-text {
            width: 85%;
            padding: 0 1.5rem;
            text-align: center;
            font-size: 1.2rem;
        }

        br {
            width: 55%;
            border-bottom: 1px solid #fff;
            margin: $base__space-unit auto;
        }

}
.cp-button-link {
    width: 80%;
    height: 5rem;
    background-color:$color_buttons;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: $base__space-unit;

    a {
        text-decoration: none;
        color: #fff;

        &:hover, &focus{

        }
    }
}

.cp-learn-about-link {
    width: 280px;
    color: #fff;
    font-size:1.4rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: $base__space-unit;

    a {
        text-decoration: none;
        color: #fff;
        margin-right: 1rem;

        &:hover, &focus{

        }
    }
}

.cp-horizontal-line {
    width: 85%;
    border-bottom: 1px solid #fff;
    margin-bottom: $base__space-unit;
}


// body needed to increase style weight and override font-awesome's default font-size
body{
    .cp-angle-down {
        font-size: 2.5rem;
        color: #fff;
    }
}