// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
    font-size: ($sizeValue * 16) * 1px;
    font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


//mobile 
$iphone6-width: 375px;
$iphone6-plus-width: 414px;
$mobile-width: 600px;
@mixin iphone6-width {
    @media (min-width: $iphone6-width) {
        @content;
    }
}

@mixin iphone6-plus-width {
        @media (min-width: $iphone6-plus-width) {
        @content;
    }
}

@mixin mobile-width {
        @media (min-width: $mobile-width) {
        @content;
    }
}

// Desktop
$desktop-width: 1240px;
@mixin desktop {
    @media (min-width: $desktop-width) {
        @content;
    }
}