        /*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
        /* Get Involved Page (will move later)- Sharifa */
        
        .get-involved-section-1 {
            height: 400px;
        }
        
        .help-nav .donations-section-2 {
            height: 400px;
        }
        
        .help-nav .drop-off-donations {
            height: 400px;
        }
        
        .ideas-donations a {
            color: black;
        }
        
        .page .image-wrapper,
        {
            width: 50%;
            padding-bottom: 50%;
            height: 200px;
        }
        
        .page .sponsor-via-cash {
            width: 50%;
            height: 200px;
        }
        
        .page .quote-text {
            color: black;
        }
        
        .wpcf7-form {
            input[type=email],
            input[type=password],
            input[type=search],
            input[type=text],
            input[type=url] {
                border-radius: 0;
                padding: 6px;
                color: black;
            }
        }