.cp-orange-section {
    p:after {
        content: none;
    }
}

.cp-turquoise-section {
    p:after {
        content: none;
    }
}

.cp-purple-section {
    p:after {
        content: none;
    }
}

.cp-privacy-title {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.04rem;
    padding: 0 0 1.5rem 0;
}

.personal-information {
    p {
        padding-bottom: 1rem;
    }
}