// .referral-section-1 {
//     height: 100vh;
// }
// .referral-section-2 {
//     width: 100vw;
// }
.referral-section-3 {
    background: $color_background_4;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 200;
    font-family: $font_roboto;
    font-weight: 200;
    font-style: normal;
    .cp-referral-student-message {
        font-size: 1.7rem;
        line-height: 1.5;
        text-align: center;
        margin: 10% 5% 5%;
    }
}

.city-district {
    font-size: 1.7rem;
    line-height: 1.75;
    padding: 5%;
}

.student-download-form {
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
    width: 80%;
    margin-bottom: 5%;
}

// .referral-section-4 {
//     background: $color_background_3;
//     width: 100vw;
//     .cp-marketing-title {
//         font-size: 2.5rem;
//         text-align: center;
//         margin-bottom: 10vh;
//     }
// }
.referral-section-5 {
    background: $color_background_4;
    width: 100vw;
}

.cp-district-dropdown {
    font-size: 24px;
    width: 284px;
    height: 46px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
    margin-top: 70px;
    font-family: $font_moonlight;
}

.cp-organizations {
    font-size: 16px;
    width: 252px;
    height: 120px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
}

.button-color {
    text-align: center;
    background-color: #303346;
    padding: 10% 5%;
    margin: 5% 0 10%;
}