.refer-student-background {
  height: 100vh;
}

.referral-section-2 {
  background: $color_background_2;
  height: 80vh;
}

.referral-section-3 {
  background: $color_background_4;
}

.referral-section-4 {
  background: $color_background_3;
  height: 80vh;
}

.referral-section-5 {
  background: $color_background_4;
  height: 80vh;
}