 .get-involved-fundraising {
     font-weight: 200;
     font-family: $font_roboto;
     font-style: normal;
     background-color: $color_background_3;
     h2 {
         text-align: center;
         font-size: 1.8rem;
         ;
         padding: 5% 5% 0 5%;
     }
     p {
         text-align: center;
         padding: 5%;
         font-size: 1.5rem;
     }
 }
 
 .get-in-touch {
     background-color: $color_background_4;
     font-size: 1.8rem;
     font-family: $font_roboto;
     font-weight: 200;
     font-style: normal;
     padding: 10%;
     a {
         text-decoration: none;
         font-size: 1.1rem;
     }
     .cp-horizontal-line {
         margin: 5% 0 5% 0;
     }
 }
 
 .get-in-touch-wrapper {
     padding-left: 25%;
     display: flex;
     flex-direction: column;
 }
 
 .cp-message {
     font-size: 2.8rem;
     font-weight: 200;
     font-family: $font_roboto;
     font-style: normal;
     text-align: center;
     padding: 25% 10% 25% 10%;
     background-color: $color_background_3;
 }
 
 .cp-no-gift {
     font-family: $font_roboto;
     font-weight: 300;
     font-style: normal;
     text-align: center;
     background-color: $color_background_4;
     width: 100%;
     height: auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     h2 {
         padding: 2rem 0 1rem;
         font-size: 3rem;
     }
     p {
         font-size: 1.7rem;
         padding: 0 5rem 1rem;
     }
 }
 
 .cp-section {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100vw;
     position: relative;
 }
 
 .cp-awards {
     background-color: $color_background_3;
     font-family: $font_roboto;
     font-weight: 300;
     font-style: normal;
     font-size: 1.7rem;
     text-align: center;
     padding: 10% 0;
     display: flex;
     flex-direction: column;
     align-items: center;
     p {
         margin-bottom: $base__space-unit;
         width: 80%;
     }
     .cp-button-link {
         font-size: 1.6rem;
     }
 }
 
 .cp-landing-section {
     padding-top: 20vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100vw;
     height: 100vh;
     .cp-landing-title {
         font-size: 2.8rem;
         font-weight: 100;
         font-family: $font_roboto;
         color: $color__text-main;
         text-align: center;
         width: 70%;
         margin: 0;
     }
     .get-involved {
         padding: 10rem 8rem 0;
     }
     .brand-slogan {
         font-weight: 100;
         font-style: normal;
         font-family: 'roboto';
         color: $color__text-main;
         font-size: 1.5rem;
         width: 7rem;
         line-height: 2;
         text-align: center;
         margin-top: 50%;
     }
     .brand-logo {
         width: 230px;
         margin-bottom: .5rem;
     }
     .cp-landing-image {}
     .cp-landing-top-divider {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -100%);
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
     }
 }
 
 .about-section-5 {
     padding-top: 0;
 }
 
 .cp-marketing-section {
     background-color: $color_background_2;
     justify-content: center;
     height: 100vh;
     .cp-marketing-title {
         font-size: 4rem;
         font-family: $font_roboto;
         font-style: normal;
         font-weight: 300;
         text-align: center;
         line-height: 1.4;
     }
     .front-page {
         padding: 10% 30% 0 30%;
     }
     .about-page {
         padding: 15% 15% 0 15%;
         line-height: 1.3;
     }
     .donate {
         text-align: center;
         padding: 5%;
         font-size: 1.8rem;
     }
     .boutique-day {
         padding: 20% 10% 0 10%;
     }
     .cp-marketing-copy {
         padding: 0 2.5rem;
         text-align: center;
         font-size: 1.4rem;
         font-family: $font_roboto;
         font-style: normal;
         font-weight: 300;
         letter-spacing: 2.3px;
         line-height: 1.5;
         margin: 2rem 0;
         letter-spacing: 1.5;
     }
 }
 
 .cp-history-section {
     background-color: $color_background_3;
     padding: 10%;
     .cp-history-copy {
         font-family: $font_roboto;
         font-size: 1.7rem;
         font-weight: 300;
         font-style: normal;
         text-align: center;
     }
 }
 
 .cp-turquoise-section {
     @include cp-generic-section($color_background_2);
 }
 
 .cp-orange-section {
     @include cp-generic-section($color_background_3);
 }
 
 .cp-purple-section {
     @include cp-generic-section($color_background_4);
 }
 
 .cp-dark-purple-section {
     @include cp-generic-section($color_background_5);
 }
 
 .cp-marketing-section-small {
     @include cp-generic-marketing-section($color_background_2);
 }
 
 .cp-marketing-section-small-purple {
     @include cp-generic-marketing-section($color_background_4);
     .footage {
         margin: 4rem 0;
     }
 }
 
 .cp-title-section {
     justify-content: center;
     background-color: $color_background_2;
     width: 100%;
     height: inherit;
     .cp-title-text {
         font-size: 3.5rem;
         font-weight: 300;
         font-family: $font_roboto;
         color: #fff;
         text-align: center;
         padding: 30%;
     }
 }
 
 .cp-quote-section {
     background-color: $color_background_3;
     padding: 15%;
     height: 100vh;
     font-family: $font_roboto;
     font-weight: 200;
     font-style: normal;
     justify-content: center;
     .cp-quote-wrapper {
         font-size: 3.2rem;
         text-align: center;
         padding-bottom: 2rem;
         line-height: 1.1;
         font-weight: 300;
         &:before {
             padding-left: -2rem;
             font-family: FontAwesome;
             display: block;
             text-align: left;
             content: "\f10d";
         }
         &:after {
             font-family: FontAwesome;
             display: block;
             text-align: right;
             content: "\f10e";
         }
     }
     .cp-quote-author {
         width: 70%;
         text-align: right;
         padding-bottom: 5%;
         text-transform: uppercase;
         text-align: center;
         font-size: 1.5rem;
         font-weight: 300;
     }
 }
 
 .cp-stat-grid-wrapper {
     .cp-stat-grid {
         display: flex;
         width: 100vw;
         .cp-stat-image-wrapper {
             width: 50%;
             padding-bottom: 50%;
             height: 0;
         }
         .cp-stat-text-wrapper {
             width: 50%;
             background-color: $color_background_2;
             display: flex;
             flex-direction: column;
             align-items: center;
             justify-content: center;
             padding: 0 1.5rem;
             font-family: $font_roboto;
             font-weight: 200;
             font-style: normal;
             .cp-stat-value {
                 font-size: 3rem;
                 font-weight: 300;
                 &:after {
                     width: 2rem;
                     border-bottom: 1px solid #fff;
                     content: "";
                     display: block;
                     margin: .5rem auto;
                 }
             }
             .cp-stat-description {
                 font-size: 1.3rem;
                 text-align: center;
                 margin: 0;
             }
         }
         &:nth-child(2n) {
             .cp-stat-text-wrapper {
                 background-color: $color_background_3;
                 order: 2;
             }
         }
     }
 }
 
 .cp-donation-grid-wrapper {
     .cp-donation-grid {
         display: flex;
         width: 100vw;
         .cp-donation-image-wrapper {
             width: 50%;
             padding-bottom: 50%;
             height: 0;
             position: relative;
             .counter {
                 position: absolute;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 top: 90%;
                 left: 50%;
                 transform: translate(-50%, -100%);
                 .output {
                     font-size: 2rem;
                     margin: 0 1rem;
                 }
                 .target_pos,
                 .target_neg {
                     height: 25px;
                     width: 25px;
                     border-radius: 50%;
                     border: 1px solid #fff;
                     font-size: 25px;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                 }
             }
         }
         .cp-donation-text-wrapper {
             width: 50%;
             background-color: $color_background_2;
             display: flex;
             flex-direction: column;
             align-items: center;
             justify-content: center;
             padding: 1.5rem;
             font-family: $font_roboto;
             font-weight: 200;
             font-style: normal;
             .cp-donation-value {
                 font-size: 1.7rem;
                 font-weight: 300;
             }
             .cp-donation-description {
                 font-size: 1.4rem;
                 text-align: center;
                 margin: 0;
                 font-weight: 300;
                 &:after {
                     width: 1rem;
                     border-bottom: 1px solid #fff;
                     content: "";
                     display: block;
                     margin: .5rem auto;
                 }
             }
         }
         &:nth-child(2n) {
             .cp-donation-text-wrapper {
                 background-color: $color_background_3;
             }
         }
     }
 }
 
 .cp-expect-grid-wrapper {
     .cp-expect-grid {
         display: flex;
         width: 100vw;
         font-family: $font_roboto;
         font-weight: 200;
         font-style: normal;
         .cp-expect-image-wrapper {
             width: 50%;
             padding-bottom: 50%;
             height: 0;
         }
         .cp-expect-text-wrapper {
             background-color: $color_background_3;
             width: 50%;
             display: flex;
             align-items: center;
             text-align: center;
             font-size: 1.5rem;
             padding: 5%;
             font-weight: 300;
             .cp-expect-description {
                 font-size: 1.5rem;
                 text-align: center;
                 margin: 0;
             }
         }
         &:nth-child(2n) {
             .cp-expect-text-wrapper {
                 background-color: $color_background_2;
                 order: 2;
             }
         }
     }
 }
 
 .cp-description-section {
     background-color: $color_background_4;
     padding-top: 5vh;
     .cp-description-text {
         width: 85%;
         padding: 0 1.5rem;
         text-align: center;
         font-size: 1.2rem;
     }
     br {
         width: 55%;
         border-bottom: 1px solid #fff;
         margin: $base__space-unit auto;
     }
 }
 
 .bd-photo {
     position: relative;
 }
 
 .home-section-4 {
     .cp-spacer {
         height: $nav_bottom_bar_height;
         width: 100vw;
         background-color: $color_background_3;
     }
 }
 
 .home-section-6 {
     height: auto;
 }
 
 .image-title-section {
     height: 100vh;
     width: 100vw;
     position: relative;
     .image-title-text {
         font-size: 3rem;
         font-weight: 300;
         position: absolute;
         line-height: 1.2;
         left: 5%;
         top: 100%;
         transform: translateY(-105%);
     }
 }
 
 .gallery-section {
     height: 100vh;
     width: 100vw;
     position: relative;

     .carousel-cell {
         width: 100%;
     }
     .carousel-image {
         height: 100vh;
         width: 100vw;
         background-size: 50%;
         position: relative;
     }
     .gallery-bottom-divider {
         position: absolute;
         top: 57%;
         left: 50%;
         transform: translateX(-50%);
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: left;
     }
     .carousel-text {

     }
 }
 
 .bd_section_2 {
     .cp-marketing-title {
         padding: 20% 6% 0;
     }
     p {
         margin-bottom: 2rem;
         &:last-child {
             margin-bottom: 0;
         }
     }
 }
 
 .get-involved-section-1 {
     .cp-landing-title {
         width: 40%;
     }
 }
 
 .donations-tab {
     background-color: $color_background_3;
 }
 
 .donations-section-1,
 .in-kind-wishlist-background-image,
 .et-involved-drop-off-donations {
     height: 80vh;
     .image-title-text {
         font-size: 4rem;
         width: 70%;
         line-height: 1;
     }
 }
 
 .in-kind-wishlist-background-image {
     margin-bottom: 4rem;
 }
 
 .get-involved-drop-off-donations {
     margin-top: 4rem;
     .image-title-text {
         font-size: 4.5rem;
     }
     .description-text {
         font-size: 2rem;
     }
 }

 .donations-section-1 {
     height: 70vh;
     width: 100%;
 }
 
 .sponsorship-section-1  {
     height: 70vh;
     .image-title-text {
         width: 80%;
         font-size: 4.5rem;
     }
 }
 .support-via-cash {
     position: relative;
     h2 {
         font-size: 2.8rem;
         font-weight: 300;
         font-family: $font_roboto;
         padding-bottom: 2rem;
     }
     label {
         font-size: 2.8rem;
         margin-right: 1rem;
     }
     input#amount {
         padding: 1rem 2rem;
         width: 75%;
         font-size: 2rem;
         font-weight: 100;
     }
     p {
         &:after {
             content: "";
             display: none;
         }
     }
     p.horiz-line {
         text-transform: uppercase;
         z-index: 99;
         background-color: $color_background_4;
         padding: 0 1rem;
         padding-bottom: 1.5rem;
         letter-spacing: 2.5px
     }
     .cp-horizontal-line {
         position: absolute;
         top: 29.2%;
         z-index: 1;
     }
 }
 
 .wishlist-section {
     font-family: $font_roboto;
     font-style: normal;
     h3 {
         font-size: 1.7rem;
         color: $color_list_item;
         font-weight: 300;
         border-top: 1px solid $color__border-abbr;
         padding: 1rem 1rem .5rem 3rem;
     }
     h3:first-child {
         padding-top: 2rem;
     }
     h3:last-child {
         padding-bottom: 2rem;
     }
     li {
         font-size: 1.3rem;
         color: $color_list_item;
         list-style: none;
         font-weight: 100;
         line-height: 2;
     }
 }
 
 .cp-donation-grid-wrapper {
     margin-top: 2rem;
 }
 
 .get-involved-drop-off-locations {
     display: flex;
     flex-flow: row wrap;
     font-family: $font_roboto;
     font-weight: 300;
     font-style: normal;
     padding-top: 2rem;
     .fa {
         width: 15%;
         font-size: 4rem;
         padding: 1.5rem 1.5rem 0 3rem;
     }
     .business-information {
         width: 80%;
         padding: 1rem 1rem 1rem 2rem;
         h3 {
             font-size: 2rem;
         }
         p {
             font-size: 1.7rem;
         }
     }
 }
 
 .section-above-footer {
     &:after {
         content: "";
         height: 5rem;
         width: 100%;
         display: table;
         padding-bottom: 5rem;
     }
 }

 .ideas-section {
     padding: 15%;
     background-color: $color_background_2;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

     .ideas-title {
         text-align: center;
         font-size: 3rem;
     }

     .cp-horizontal-line {
         margin: 2rem 0;
         padding: 0;
     }
 }

 .cp-quote-section.volunteer-quote {
    height: auto;
}

.volunteer-gallery-wrapper {

    .carousel {
        width: 100vw;
    }

    .cp-learn-about-link {
        margin-top: 15%;
    }
    .volunteer-title {
        font-size: 2.4rem;
        margin-bottom: 15%;
    }
    .gallery-section {

        .gallery-bottom-divider {
            top: 50%;
            transform: translate(-50%);
        }
    }
}

