// Structure
$base__space-unit: 1.5rem;
// Colors
$color__background-body: #000;
$color__text-main: #fff;
$color__background-nav: #4A4A4A;
$color_bottom_nav:#393D53;
$color__text-nav: #fff;
$color__background-brand-btn: #4A4A4A;
$color__text-brand-btn: #fff;
$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;
$color__link:#fff;
$color__link-visited: #fff;
$color__link-hover:#fff;
$color_buttons: #313445;
$color__send__buttons:#0C0E1B;
$color_globe_background: #9B9B9B;
$color_list_item:#4A4A4A;
// Section Colors
$color_background_2: #69B9C6;
$color_background_3: #F5A623;
$color_background_4: #393D53;
$color_background_5: #3B5998;
$color_background_checkered_even: #77BDC9;
$color_background_checkered_odd: #F6A623;
$color_background_footer: #4A4A4A;
$color_footer_borders: #3E3E3E;
// Typography
$font__main: sans-serif;
$font__code: Monaco,
Consolas,
"Andale Mono",
"DejaVu Sans Mono",
monospace;
$font__pre: "Courier 10 Pitch",
Courier,
monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
// Fonts
$font_marieThin:'st_marie_thinthin';
$font_moonlight:'moonlight';
$font_roboto:'roboto';
//


$default_title_line_height: 1.5;
$default_title_font_size: 4rem;
$default_paragraph_font_size: 1.7rem;
$default_paragraph_letting_spacing: 1.5px;
$cp_title_bottom_margin: 2.5rem;
$cp_base_bottom_margin: 2.7rem;
$default_text_line_height: 1.4;
$default_text_font_weight: 200;
$default_quote_horizontal_padding: 5rem;
$base_section_horizontal_padding: 2.5rem;
$footer_globe_size: 52px;

$nav_bottom_bar_height: 55px;
$wploginbar-height-change: 783px;
$wploginbar-thick-height: 46px;
$wploginbar-thin-height: 32px;