// Structure
$base__space-unit: 1.5rem;
// Colors
$color__background-body: #000;
$color__text-main: #fff;
$color__background-nav:#393D53;
$color__text-nav: #fff;
$color__background-brand-btn: #393E53;
$color__text-brand-btn: #fff;
$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;
$color__link:#fff;
$color__link-visited: #fff;
$color__link-hover:#fff;
$color_buttons: #313445;
$color__send__buttons:#0C0E1B;
$color_globe_background: #9B9B9B;
$color_list_item:#4A4A4A;
// Section Colors
$color_background_2: #69B9C6;
$color_background_3: #F5A623;
$color_background_4: #393D53;
$color_background_5: #3B5998;
$color_background_checkered_even: #77BDC9;
$color_background_checkered_odd: #F6A623;
$color_background_footer: #4A4A4A;
$color_footer_borders: #3E3E3E;
// Typography
$font__main: sans-serif;
$font__code: Monaco,
Consolas,
"Andale Mono",
"DejaVu Sans Mono",
monospace;
$font__pre: "Courier 10 Pitch",
Courier,
monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
// Fonts
$font_marieThin:'st_marie_thinthin';
$font_moonlight:'moonlight';
$font_roboto:'roboto';
$nav_bottom_bar_height: 5rem;
//